.kitty-profile-img{
    height: 300px;
    width: 300px;
    background-color:pink;  
    border-radius: 20px; 
}

.kitty-profile-img img {
    height: 200px;
   
}

.price-img{
    height: 30px;
    width: 30px;
    background: none;
}

.kitty-info{
    padding: 30px;
    display: flex;
    flex-direction: row;
    background: white;
    margin:20px 100px 20px 100px;
}

.info-container{
    margin: 0 50px 0 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.price-container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin:30px 0 30px 0;
    border-radius: 15px; 
    width:300px;
    background: rgb(223, 220, 220);
}

.price-container p{
    margin-left: 10px;
}

.name_plus_owner{
    display:flex;
    flex-direction: row;
  
}

.owner-container{
    display:flex;
    flex-direction: row;
    margin-left:40px;   
}

.owner-img{
    height: 40px;
    width: 40px;
    margin-right: 10px;
    border: 1px solid gray;
    border-radius: 50%;
}

.owner-name{
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 3px;
    cursor:pointer;
}

.owner-txt{
    display:flex;
    flex-direction: column;
    font-weight: 100;
    font-size: 10px;
}

.bio-container{
    padding:20px 0 30px 0;
}

.empty-img{
    display:flex;
    justify-content: center;
    align-items: center;
    width:50px;
    height:50px;
    border-radius: 50%;
    background-color: #efe8fa;
    border: 0.5px solid blue;
    
}

.cattribut-diamont{
    width:25px;
    height:25px;
    background-image: url(https://www.cryptokitties.co/images/cattributes/silver.svg);

}

.cattribut-card{
    margin:20px 0 0 0;
    display:inline-flex;
    flex-direction: row;
    align-items: center;
    width: 200px;
}

.cattribut-name{
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 3px;
}

.cattribut-info{
    display:inline-flex;
    flex-direction: column;
    font-weight: 100;
    font-size: 15px;
    margin-left: 15px;
}

.cattributes-list{
    width:100%;
    margin-bottom: 30px;
    margin-top: 20px;
}

.kitty-list{
    width:100%;
    margin:20px 0 30px 0;
}

.kitty-img{
    width: 150px;
    height: 150px;
}

.kitty-card{
    margin:10px;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    background: pink;
    width: 170px;
    height: 170px;
    border-radius: 20px; 
}

.family-tree {
    display: block;
    background-color: lightpink;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    margin-left: 50px;
}

@media screen and (max-width: 835px) {
 
    .kitty-info{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .kitty-profile-img{
        height: 100px;
        width: 100px;
        border-radius: 0; 
    }
    
       
    }
       