<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/Style/family-tree.css">
    <title>Family Tree</title>
</head>

<body>
 <div class="main-container">
        <h1 class="title-txt">FamilyTree</h1>

Parents:


        <div class="wrapper">
           
                    <div class="content-box">
                        <p class="content-box__txt" id="matron_name"></p>
                        <a href="../Profiles/Kitty/kitty-profile.html">
                            <img class="content-box__img" src="../Images/kitty.png" alt="kitty">
                        </a>

                    </div>

                    <div class="content-box">
                        <p class="content-box__txt">(GrandParrent B)</p>
                        <a href="../Profiles/Kitty/kitty-profile.html">
                            <img class="content-box__img" src="../Images/kitty.png" alt="kitty">
                        </a>

                    </div>
                  
        </div>
       
           

        </div>
        <div class="family-value">
            Family value: 3.14
        </div>
    </div>
</body>

</html>