<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../Style/form.css">
    <title>Form</title>
</head>

<body>
    <div class="container">
        <div class="form-wrapper">
            <form id="myForm" action="/action_page.php">
                Insert kitty id: <input id="id" type="text" name="fname"><br>
                <label>Choose type:</label>
                <select id="type" name="type">
                    <option value="svg">SVG</option>
                    <option value="png">PNG</option>
                </select>
                <div class="submit-btn">
                    <input type="button" onclick="getInfo()" value="Submit form">
                </div>
            </form>
        </div>
    </div>


</body>

</html>