<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="/Style/homepage.css">
</head>

<body>
    <section class="header"></section>

    <section class="info">
        <div class="container">
            <img src="../Images/homepage-kitty.svg" alt="kity">
            <div class="container-text">
                <h1>
                    What is Eye for Kitties?
                </h1>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde consequatur, perspiciatis porro
                    eveniet
                    quod veniam incidunt, officia architecto, nam provident quibusdam odio blanditiis molestias
                    dolores?
                    Fuga sapiente consequuntur adipisci mollitia?
                </p>
            </div>

        </div>
    </section>

    <div class="submit-btn-container">
        <form action="../Form/form.html">
            <input type="submit" value="Generate svg/png">
        </form>
    </div>
</body>

</html>

  
   
    
