<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="/Style/kitty-profile.css">
        <title>Cryptokitty profile</title>
    </head>

    <body>
        <div class="kitty-profile-wrapper">
            <div class="kitty-info">
                <img class="kitty-profile-img" id="kitty-profile" src="src" alt="">
                <div class="info-container">
                    <div class="name_plus_owner">
                        <h2 id="kitty-name"></h2>
                        <a id="owner-href" href="href">
                            <div class="owner-container">
                                <img class="owner-img" id="owner-profile" src="src" alt="">
                                <div class="owner-txt">
                                    <div class="owner-name" id="owner-name"></div>
                                    <p>Owner</p>
                                </div>
                            </div>
                        </a>
                        <a href="href" id="fam-href">
                            <div class="family-tree">
                                See family tree!
                            </div>
                        </a>
                    </div>

                    <div class="price-container">
                        <img class="price-img" src="../../Images/coins-icon.png" alt="">
                        <p>Price <small>Ξ</small> <p id="price"></p>
                    </div>

                    <h3>Bio</h3>
                    <div class="bio-container">
                        <p id="description"></p>
                    </div>
                    
                    <h3>Cattributes</h3>
                    <div class="cattributes-list" id="displayCattributes"></div>

                    <h3>Children</h3>
                    <div class="kitty-list" id="displayChildren"> </div>

                    <h3>Parents</h3>
                    <div class="kitty-list" id="displayparents"></div>             
                </div>
            </div>
        </div>

        <script src="/javaScript/kitty-profile.js"></script>
        <script id="cattributes-template" type="text/template">
            <div class="cattribut-card">
                    <div class="empty-img">
                        <div class="cattribut-diamont"></div>         
                    </div>
                    <div class="cattribut-info">
                        <span class="cattribut-name">{{type}}</span>
                        <span>{{description}}</span>
                    </div>
                </div>
        </script>
        
        <script id="family-template" type="text/template">
            <a href="#kitty-profile/{{id}}">
                <div class="kitty-card">
                    <img class="kitty-img" src="{{src}}" alt="">
                </div>
            </a>
        </script>
    </body>
</html>



