<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>404</title>
    <link rel="stylesheet" type="text/css" href="../Style/Page404.css">
</head>

<body>
   
    <div class="error">
        <img class="error-code" src="../Images/404.png" alt="404">
        <p class="error-message">You’ve got to be kitten me right now.</p>
    </div>

</body>
</html>