
.main-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding:40px;  

}

.wrapper {
    margin:40px 100px 20px 100px;  
    display: flex;
    justify-content: center; 
    flex-direction: column;
    align-items: center;
}


.wrapper ol {
    list-style: none;
}

.user-img{
    height:35%;
    border-radius: 50%; 
    border:1px solid rgb(172, 172, 172); 
}

.top3-wrapper{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.top3-container{
    margin-top:70px;
    width:700px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

 li:nth-of-type(1) { 
    order: 2;
}

li:nth-of-type(2) {
    order: 1;
}

li:nth-of-type(3) {  
    order: 3;
}

.top3-container ol {
    margin-top:60px;
}

.top3-container li {
  margin-left:80px;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top:20px;
}

.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height:300px;
    width:200px;   
}

li:not(:hover) .content {
    opacity: 0; 
}

li:hover .user-img  {   
    box-shadow: 0px 0px 150px pink;
    transition: all 200ms ease-in-out;
    transform: scale(1.5);
    margin-bottom:30px;   
}

li:not(:hover) .user-img  { 
    transition: all 200ms ease-out;
    transform: scale(1);  
}

ol.top3-container:not(:hover) >li:nth-of-type(1):not(:hover) .user-img{
    box-shadow: 0px 0px 150px pink;
    margin-bottom:30px;
    transition: all 200ms ease-in;
    transform: scale(1.5); 
}

ol.top3-container:not(:hover) >li:nth-of-type(1):not(:hover) .content{
    opacity:2;
}

li:not(:first-of-type):not(:hover) .user-img,
ol.top3-container:hover > li:not(:hover) .user-img {
    filter: blur(0.125em);
}

li:nth-of-type(2):not(:hover) .user-img {
    filter: blur(0.125em);
}

 li:nth-of-type(3):not(:hover) .user-img {
  
    filter: blur(0.125em);
}

.number{ 
    font-weight: bold;
    font-size: 20px;
    margin-right:15px;  
}

.owner-card {
    padding:10px;
    width: 100%;
    height: 120px;
    margin:0 0 30px 30px;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-bottom:0.5px solid rgba(255, 194, 242,.7);
    background: white;
    box-shadow: 10px 5px 5px grey;
    border-radius: 25px;
}

.owner-card p {
    margin-bottom: 3px;
}

.content p{
    font-size:18px;
}

.card-info {
    margin-left:10px;
    display: flex;
    flex-direction: row;
}

.card-img {
    height: 80%;
    border:1px solid rgb(172, 172, 172); 
    border-radius:50%;
}

.owner-name {
    width:140px;
    margin:0 30px 0 10px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.img{
    height: 30px;
    width: 30px;
    margin-right:10px;  
    border-radius: 20px;
   
}

.kitties-count {
    padding:3px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:150px;
    background:rgba(243, 197, 204, .5);
    border-radius: 15px;
}

.title-txt {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 55%;;
    margin-bottom: 50px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(197, 183, 197);
    color: rgb(165, 165, 165); 
    font-weight: bold;
    font-size: 30px;
}

.top3-list{
    display: none;
}

@media screen and (max-width: 835px) {
       
.top3-container{
     display: none;      
}

 .top3-list{
     display: block;   
}

.owner-card{
    flex: auto;
    width: 80%;
 }

 .kitties-count{
     display: none;
 }

 .title-txt{
    font-size: 20px;
 }
}
      